body {
    background-image: url("bgimg.jpg");
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
.notification {
    top: 3%;
    right: 2%;
    position: fixed;
    background-color: rgba(30, 30, 50, 0.5);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    font-weight: bold;
    animation: slide 500ms;
}
@keyframes slide {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(0%);
    }
}
.title {
    background: none;
    box-shadow: 0px 0px 5px rgb(30, 30, 50);
    color: rgb(255, 255, 255);
    padding: 10px;
}
hr {
    opacity: 20%;
}
.btn {
    width: 250px;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
    margin-top: 1%;
    border: solid 1px rgb(0, 50, 100);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 300ms;
}
.btn:hover {
    background-color: rgb(0, 100, 220);
}
.bottomSec {
    bottom: 0;
    position: fixed;
    padding: 10px;
    font-size: 12px;
    font-style: italic;
}
.bishalqx980 {
    text-decoration: none;
    color: rgb(0, 100, 255);
}
.bishalqx980:hover {
    text-decoration: underline;
}